---
  management:
    hostname: "c910f03c01p19"
    provision_address: "10.3.1.19"
    dns:
      nameserver: "10.0.0.103"
      forwarders: ""
      domain: "pok.stglabs.ibm.com"
    external_ntp_server: "10.0.0.103"
    osimage:
      "rhels7.3-ppc64le-install-compute": "/media/xcat/iso/redhat/7.3/GA/RHEL-7.3-20161019.0-Server-ppc64le-dvd1.iso"
      # "ubuntu-14.04.1-server-ppc64el-install-compute": "/iso/ubuntu-14.04.1-server-ppc64el.iso"

  localhost:
    ipv4_address: "127.0.0.1"

  kvmhost:
    def_attrs:
      groups: "all"
      ip: "10.3.1.19"

  kvmguest1:
    def_attrs:
      arch: "ppc64le"
      groups: "all"
      ip: "10.3.1.101"
      mgt: "kvm"
      netboot: "grub"
      serialport: "0"
      serialspeed: "115200"
      vmcpus: "1"
      vmhost: "kvmhost"
      vmmemory: "2048"
      vmnicnicmodel: "virtio"
      vmnics: "br-eno1"
      vmstorage: "dir:///install/vms"

    osimage: rhels7.3-ppc64le-install-compute
    vmdisksize: "6G"

  kvmguest2:
    def_attrs:
      arch: "ppc64le"
      groups: "all"
      ip: "10.3.1.102"
      mgt: "kvm"
      netboot: "grub"
      serialport: "0"
      serialspeed: "115200"
      vmcpus: "1"
      vmhost: "kvmhost"
      vmmemory: "2048"
      vmnicnicmodel: "virtio"
      vmnics: "br-eno1"
      vmstorage: "dir:///install/vms"

    osimage: rhels7.3-ppc64le-install-compute
    vmdisksize: "6G"
